
#wrapper { width: 80%;
	   margin-right: auto;
	   margin-left: auto;
	   min-width: 700px;
	   max-width: 1024px;
	   text-align: center;
	   background-color: #fff;
	   }
body {
	font-family: Goergia, sans-serif;
	background-color: #370A0A;
	}
#scottb { display: block;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	height:200px;
	width:150px;
	}
#monte { 
	display: block;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	height:270px;
	width:720px;
	}
.contact-center {
	margin-left: auto;
    	margin-right: auto;
    	}
.contact-left {
  float: left;
  margin-left: 20%;
  margin-bottom: 10%;
}
.contact-right {
  float: right;
  margin-right: 10%;
  margin-bottom: 10%;
}
.toggle_demo {
display: block;
position: relative;
margin: 0 auto;
text-align: center;
height: 300px;
width: auto;
background-color: #fff;
clear: both;
}
.demo {
background-color: #0D2B21;
width: 200px;
height: 100px;
}

/* Custom, iPhone Retina */
@media screen and (max-width: 320px)
{
	#wrapper {
		margin: 0 auto;
		position: relative;
		min-width: 320px;
	}
	p { 
		font-size: 14px;
	}
	.map {
		display: none;
	}
	#form-div {
		background-color: #F7F7F7;
		width: 300px;
		padding: 10px 10px 10px 10px;
		margin-left: auto;
    		margin-right: auto;
		float: left;
	}
	.contact-input {
		color: #3c3c3c;
		background-color: #fbfbfb;
	}
	#button-blue {
		width: 35%;
		cursor: pointer;
	}
	.details {
		font-size: 14px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{
	#wrapper {
		margin: 0 auto;
		position: relative;
		min-width: 480px;
	}
	p { 
		font-size: 14px;
	}
	#form-div {
		background-color: #F7F7F7;
		width: 300px;
		padding: 10px 10px 10px 10px;
		margin-left: auto;
    		margin-right: auto;
	.map {
		display: none;
	}
	#form-div {
		background-color: #F7F7F7;
		width: 300px;
		padding: 10px 10px 10px 10px;
		float: left;
	}
	.contact-input {
		color: #3c3c3c;
		background-color: #fbfbfb;
	}
	#button-blue {
		width: 35%;
		cursor: pointer;
	}
	.details {
		font-size: 14px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{
	#wrapper {
		margin: 0 auto;
		position: relative;
		min-width: 768px;
	}
	p { 
		font-size: 14px;
	}
	#form-div {
		background-color: #F7F7F7;
		width: 300px;
		padding: 10px 10px 10px 10px;
		margin-left: auto;
    		margin-right: auto;
	.map {
		display: none;
	}
	#form-div {
		background-color: #F7F7F7;
		width: 300px;
		padding: 10px 10px 10px 10px;
		float: left;
	}
	.contact-input {
		color: #3c3c3c;
		background-color: #fbfbfb;
	}
	#button-blue {
		width: 35%;
		cursor: pointer;
	}
	.details {
		font-size: 14px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
	#wrapper {
		margin: 0 auto;
		position: relative;
		min-width: 992px;
	}
	p { 
		font-size: 14px;
	}
	#form-div {
		background-color: #F7F7F7;
		width: 300px;
		padding: 10px 10px 10px 10px;
		margin-left: auto;
    		margin-right: auto;
	.map {
		width: 600px;
		height: 400px;
		margin: 0 auto;
		text-align: center;
		display: block;
		position: relative;
	}
	#form-div {
		background-color: #F7F7F7;
		width: 300px;
		padding: 10px 10px 10px 10px;
		float: left;
	}
	.contact-input {
		color: #3c3c3c;
		background-color: #fbfbfb;
	}
	#button-blue {
		width: 35%;
		cursor: pointer;
	}
	.details {
		font-size: 14px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{
	#wrapper {
		margin: 0 auto;
		position: relative;
		min-width: 1200px;
	}
	p { 
		font-size: 14px;
	}
	#form-div {
		background-color: #F7F7F7;
		width: 300px;
		padding: 10px 10px 10px 10px;
		margin-left: auto;
    		margin-right: auto;
    		border: 2px solid blue;
		
	}
	.contact-input {
		color: blue;
		background-color: #fbfbfb;
	}
	
	#button-blue {
		width: 35%;
		cursor: pointer;
		color: blue;
	}
	.details {
	font-size: 14px;
	color: blue;
	.map {
		width: 500px;
		height: 400px;
		margin: 0 auto;
		text-align: center;
		display: block;
		position: relative;
	}
	#form-div {
		background-color: #F7F7F7;
		width: 300px;
		padding: 10px 10px 10px 10px;
		float: left;
	}
	.contact-input {
		color: #3c3c3c;
		background-color: #fbfbfb;
	}
	#button-blue {
		width: 35%;
		cursor: pointer;
	}
}